<!-- The content below is only a placeholder and can be replaced. -->
<header id="header" class="parent-active">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
          <!-- <ul>
            <li><a href="#">Visit Us</a></li>
            <li><a href="#">Buy Tickets</a></li>
          </ul>			 -->
        </div>
        <div class="col-lg-6 col-sm-6 col-6 header-top-right">
          <div class="header-social">
            <a target="_blank" href="https://www.facebook.com/coronatracker7"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/coronatracker7"><i class="fa fa-twitter"></i></a>
            <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container main-menu parent-active"><button type="button" id="mobile-nav-toggle"><i
        class="lnr lnr-menu"></i></button>
    <div class="row align-items-center justify-content-between d-flex parent-active">
      <div id="logo">
         <a href="index.html"><img src="img/logo.png" alt="" title=""></a>
      </div>
      <nav id="nav-menu-container" class="parent-active">
        <ul class="nav-menu sf-js-enabled sf-arrows parent-active" style="touch-action: pan-y;">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <nav id="mobile-nav" class="parent-active">
      <ul class="parent-active" style="touch-action: pan-y;" id="">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <div id="mobile-body-overly"></div>
  </div> -->
</header>
<section class="relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          {{title}}
        </h1>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="section-top-border">
    <h3 class="mb-30">Disclaimer</h3>
    <div class="row">
      <div class="col-lg-12">
        <blockquote class="generic-blockquote">
          "The data displayed on the site is for informative purposes only, the developer holds no responsibility or
          liability for any errors or omissions in the content of this site. The information contained in this site is
          provided on an "as is" basis with no guarantees of completeness, accuracy, usefulness or timeliness."
        </blockquote>
      </div>
    </div>
  </div>
  <div>
    <h4>Corona cases as of {{ lastUpdated | date:'mediumDate'}}</h4>
  </div>
  <div class="progress-table-wrap">
    <div class="progress-table">
      <div class="table-head sticky">
        <!-- <div class="serial">#</div> -->
        <div class="location">Location<i (click)='this.sortCases("location")' [ngClass]="setSortClass()"></i></div>
        <div class="count">Total<i (click)='this.sortCases("total")' [ngClass]="setSortClass()"></i></div>
        <div class="count">Deaths<i (click)='this.sortCases("deaths")' [ngClass]="setSortClass()"></i></div>
        <div class="count">Recov.<i (click)='this.sortCases("recovered")' [ngClass]="setSortClass()"></i></div>
        <div class="count">Active<i (click)='this.sortCases("active")' [ngClass]="setSortClass()"></i></div>
        <div class="count">Tests<i (click)='this.sortCases("tests")' [ngClass]="setSortClass()"></i></div>
        <div class="details">Details</div>
      </div>
      <div class="table-row" *ngFor='let case of cases; let i=index'>
        <!-- <div class="serial">{{i+ 1}}</div> -->
        <div class="location">{{case.location}}</div>
        <div class="count total"><span *ngIf='case.newcases'>+{{case.newcases | number: '2.'}}</span>{{case.total | number: '2.'}}</div>
        <div class="count deaths"><span *ngIf='case.newdeaths'>+{{case.newdeaths | number: '2.'}}</span>{{case.deaths | number: '2.'}}</div>
        <div class="count recovered"><span *ngIf='case.newrecovered'>+{{case.newrecovered | number: '2.'}}</span>{{case.recovered | number: '2.'}}
        </div>
        <div class="count">{{case.active | number: '2.'}}</div>
        <div class="count tests"><span *ngIf='case.newtests'>+{{case.newtests | number: '2.'}}</span>{{ case.tests > 0 ?  (case.tests | number: '2.') : ''}}</div>
        <div class="details">
          <!-- <a target="_blank" *ngIf='case.source' [href]="case.source">[source]</a> -->
          <a style="cursor: pointer;" *ngIf='case.source && case.source.length >= 1' (click)="show(case.source)">
            <img class="source-img" [src]="case.source[0]">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-sm-30 mt-30 mb-30 typo-sec">
    <h3 class="mb-20">Sources of information</h3>
    <div class="list-wrap mb-20">
      <ul>
        <li>The information is collected from the press releases of the respective municipal corporations, which is
          generally published daily after 6 p.m IST.</li>
      </ul>
    </div>
    <div class="mb-20">
      <ul class="unordered-list">
        <li><a target="_blank" href="https://stopcoronavirus.mcgm.gov.in/">Brihanmumbai Municipal Corporation</a></li>
        <li><a target="_blank" href="https://kbmc.gov.in/EIPPROD/kbmc_Covid-19_jsp.jsp">Kulgaon Badlapur Municipal
            Corporation</a></li>
        <li><a target="_blank" href="https://kdmc-coronavirus-response-skdcl.hub.arcgis.com/">Kalyan Dombivli Municipal
            Corporation</a></li>
        <li><a target="_blank" href="https://thane.nic.in/corona-virus-covid-19/">Thane Municipal Corporation</a></li>
        <li><a target="_blank" href="https://www.nmmc.gov.in/navimumbai/">Navi Mumbai Municipal Corporation</a></li>
        <li><a target="_blank" href="https://www.mbmc.gov.in/">Mira Bhayander Municipal Corporation</a></li>
        <li><a target="_blank" href="https://vvcmc.in/vvmc/corona/local_host/index.html">Vasai Virar Municipal
            Corporation</a></li>
        <li><a target="_blank" href="http://panvelcovidcare.cdaat.in/">Panvel Municipal Corporation</a></li>

      </ul>
    </div>
    <h5 class="mb-20">Contributers</h5>
    <div class="mb-20">
      <ul class="unordered-list">
        <li>
          <a target="_blank" href="https://www.facebook.com/phantum007">Prabhat Shukla</a>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/vikrant.kadlak">Vikrant Kadlak</a>
        </li>
      </ul>
    </div>
    <div class="list-wrap">
      <ul>
        <li>We are looking for contributers, if you are interested you can <a
            href="mailto:swapnilbhor007@gmail.com?subject=Corona Tracker&body=Hi Team">email us</a> to join this social cause.</li>
      </ul>
    </div>
  </div>

</div>

<!-- The Modal -->
<div class="modal" [style.display]="showModal ? 'block' : 'none'">

  <!-- The Close Button -->
  <span class="close" (click)="hide()">&times;</span>

  <!-- Modal Content (The Image) -->
  <!-- <img class="modal-content" [src]="imageUrl"> -->

  <div id="details" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor='let imgUrl of imageUrls; let i = index' [ngClass] ='i == 0 ? "carousel-item active" : "carousel-item"'>
        <img class="modal-content" [src]="imgUrl">
      </div>
    </div>
    <a class="carousel-control-prev" *ngIf="imageUrls.length > 1" (click)="moveSlides(-1)" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" *ngIf="imageUrls.length > 1" (click)="moveSlides(1)" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>


<footer class="footer-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <p class="col-lg-8 col-sm-12 footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy; 2020 All rights reserved | This template is made with <i class="fa fa-heart-o"
          aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a target="_blank" href="https://www.facebook.com/coronatracker7"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/coronatracker7"><i class="fa fa-twitter"></i></a>
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a> -->
      </div>
    </div>
    <!-- hitwebcounter Code START -->
    <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=7352245&style=0008&nbdigits=7&type=page&initCount=0"
        title="Web Counter" Alt="counter free" style="border:0">
    </a>
  </div>
</footer>